@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

nav{
    max-width: 100%;
    filter: drop-shadow(0px 1px 0px lightgrey);
}

.navbar{
    max-width: 1500px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
    background-color: white;
    font-size: .85rem;
}

.navbar .left-navbar{
    display: flex;
    align-items: center;
}

.navbar .right-navbar{
    display: flex;
    align-items: center; 
}

.navbar a,
.navbar p{
    color: black;
    text-decoration: none;
}

.navbar .left-navbar a{
    margin-left: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar .right-navbar a{
    margin-left: 20px;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: normal;
}

.navbar .left-navbar img{
    width: 50px;
}

.navbar .right-navbar img{
    width: 20px;
    padding: 5px;
}

.navbar .right-navbar a{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 20px;
}

.sign-in{
    color: black;
    background-color: white;
}

.navbar .right-navbar .join-now{
    color: white;
    background-color: black;
}

/*--------------------------------*/

.wrapper1{
    width: 100%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #d4e9e1;
    text-align: center;
    margin-top: 30px;
}

.right-wrapper1{
    display: flex;
    justify-content: space-evenly;
}

.wrapper1 .right-wrapper1 img{
    max-width: 730px;
    width: 100%;
}

.left-wrapper1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.left-wrapper1 h1{
    margin: 30px;
    font-weight: 500;
    font-size: 1.5rem;
}

.left-wrapper1 a{
    margin: 30px auto;
    color: black;
    border: 1px solid black;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}



.wrapper2{
    width: 100%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #d4e9e1;
    text-align: center;
    margin-top: 30px;
}

.wrapper2 .left-wrapper2 img{
    max-width: 700px;
    width: 100%;
}

.right-wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right-wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.right-wrapper2 h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.right-wrapper2 p{
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.right-wrapper2 a{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 20px;
    width: fit-content;
    border-radius: 20px;
    margin: 0px auto;
    color: black;
}

.wrapper3{
    width: 100%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #036241;
    text-align: center;
    margin-top: 30px;
}

.right-wrapper3{
    display: flex;
    justify-content: space-evenly;
}

.wrapper3 .right-wrapper3 img{
    max-width: 730px;
    width: 100%;
}

.left-wrapper3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.left-wrapper3 h1{
    margin: 20px;
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

.left-wrapper3 p{
    color: white;
    font-size: 1.25rem;
}

.left-wrapper3 a{
    margin: 30px auto;
    color: white;
    border: 1px solid white;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.wrapper4{
    width: 100%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #036241;
    text-align: center;
    margin-top: 30px;
}

.left-wrapper4{
    display: flex;
    justify-content: space-evenly;
}

.wrapper4 .left-wrapper4 img{
    max-width: 730px;
    width: 100%;
}

.right-wrapper4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.right-wrapper4 h1{
    margin: 20px;
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

.right-wrapper4 p{
    color: white;
    font-size: 1.25rem;
}

.right-wrapper4 a{
    margin: 30px auto;
    color: white;
    border: 1px solid white;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.wrapper5{
    width: 100%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #036241;
    text-align: center;
    margin-top: 30px;
}

.right-wrapper5{
    display: flex;
    justify-content: space-evenly;
}

.wrapper5 .right-wrapper5 img{
    max-width: 700px;
    width: 100%;
}

.left-wrapper5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.left-wrapper5 h1{
    margin: 30px;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.left-wrapper5 p{
    color: white;
}

.left-wrapper5 a{
    margin: 30px auto;
    color: white;
    border: 1px solid white;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.wrapper6{
    width: 100%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #cfeae1;
    text-align: center;
    margin-top: 30px;
}

.left-wrapper6{
    display: flex;
    justify-content: space-evenly;
}

.wrapper6 .left-wrapper6 img{
    max-width: 700px;
    width: 100%;
}

.right-wrapper6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.right-wrapper6 h1{
    margin: 30px;
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
}

.right-wrapper6 p{
    color: black;
}

.right-wrapper6 a{
    margin: 30px auto;
    color: black;
    border: 1px solid black;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}

/*--------------------------------*/

.bottom-section{
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #eee;
}

.bottom-section .column{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 50px;
}

.bottom-section .column p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.bottom-section .column a{
    text-decoration: none;
    color: black;
    margin: 10px 0;
    color: rgba(0, 0, 0, .6);
}

.footer-images{
    margin-top: 40px;
    margin-left: 40px;
}

.footer-images img{
    width: 30px;
    padding: 5px;
    margin-left: 5px;
}

.footer-images img:hover{
    background-color: #ccc;
    border-radius: 50%;
}

footer{
    display: flex;
    flex-direction: row;
    margin: 10px 0 40px 40px;
}

footer p{
    margin-right: 20px;
    font-size: .9rem;
}

.copyright{
    display: flex;
    margin: 40px 0 40px 40px;
    color: rgba(0, 0, 0, .6);
    font-size: .83rem;
}